body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.container {
  color: rebeccapurple;
  width: 500px;
  margin: 20px;
  border: 1px solid;
  padding: 20px;
}
#button__increase {
  margin-left: 20px;
}
#btn__show{
  margin-left: 20px;
  
}
#c1 {
  background-color: lightcyan;
}
#c2 {
  background-color: lightpink;
}
